<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technovyn Innovations</title>
    <link rel="icon" type="image/png" href="~/images/icon.png" style="width: 500px; height: 500px;">
 
    <link rel="stylesheet" href="~/css/site.css"> <!-- Link to your CSS file -->
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="logo">
          @*   <img src="@Url.Content("~/Images/logo.jpg")" alt="Technovyn Innovations"> *@
            <a asp-controller="Home" asp-action="Index">
                <img src="@Url.Content("~/Images/logo.jpg")" alt="Technovyn Innovations">
            </a>
        </div>
        <nav>
            <!-- Hamburger Menu Icon (visible only on mobile) -->
            <div class="mobile-menu-icon" onclick="toggleMenu()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <!-- Navigation Menu -->
            <ul id="menu" >
                <li><a asp-controller="Home" asp-action="Index" style="text-transform: none; margin-right: 15px;">Home</a></li>
                <li><a asp-controller="Home" asp-action="About" style="text-transform: none;margin-right: 15px;">About Us</a></li>
                <li><a asp-controller="Home" asp-action="Products" style="text-transform: none;margin-right: 15px;">Products</a></li>
               @*  <li><a href="#solutions">Solutions</a></li> *@
                <li><a asp-controller="Home" asp-action="Contact" style="text-transform: none;margin-right: 15px;">Contact Sales</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Technovyn Innovations <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
@*     @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>
